[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
seaborn = "*"
fastparquet = "*"
scikit-learn = "*"
tqdm = "*"
autopep8 = "*"
jupyterlab = "*"
tensorboard = "*"
gensim = "*"
merlin-dataloader = "*"
polars = "*"
beartype = "*"
torch = "*"
numba = "*"
lightgbm = "*"
kaggle = "*"
annoy = "*"

[dev-packages]
torch-tb-profiler = "*"

[requires]
python_version = "3.10"
